
<div ng-app="app">
  <div ng-controller="gradesCtrl">
    <% @data.each do |week_num, grades| %>
      <div class="white row">
        <h2>Phase <%= week_num %></h2>
        <table>
          <thead>
            <th></th>
            <% grades[:assignments].each do |assignment| %>
              <th class="rotate-grade-title grade-title-1"><div><span><%= assignment.short_title %></span></div></th>
            <% end %>
          </thead>
          <tbody>
            <% grades[:students].each do |student| %>
              <tr>
                <td class="text-center table-name"><%= student[:name] %></td>
                <% student[:assignments].each do |assignment|%>
                  <td
                    class="text-center grade-table-cell <%= assignment[:submission_style] %> <%= assignment[:grade_style] %>"
                    ng-click="gradeLink(<%= assignment[:id] %>, <%= student[:id] %>)"
                  >
                    <%= assignment[:grade].letter if assignment[:grade] %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
