
  <div class="row row-margin">
    <div class="col-md-2 white">
      <p><%= link_to "Create Cohort", new_cohort_path %></p> 
      <p><%= link_to "Modify Assignment Versions", assignment_versions_path %></p> 
      <p><%= link_to "Show All", cohorts_path %></p> 
      <% @instructors.each do |instructor| %>
        <p>Filter by: <%= link_to instructor.full_name, "/cohorts?instructor_id=#{instructor.id}" %></p>
      <% end %>
        <p>key:<br/>
          <span class="un-viewed-key">Un-viewed Submission</span><br/>
          <span class="un-viewed-key-comment">Un-viewed Comment</span><br/>
          <span class="viewed-key">Viewed Sub/Comment</span>
        </p>
    </div>
    <div class="col-md-10">
        <% @cohorts.each do |cohort| %>
          <div class="white">
            <div class="row">
              <div class="col-md-8">
                <h4>Instructor: <%= cohort.instructor.full_name %></br>
                  Start Date: <%= cohort.start_date.strftime("%b %d, %Y") %></br>
                  Location: <%= cohort.location.name %></br>
                  Cohort Nickname: <%= cohort.nickname %></br>
                  Gmail Calender: <%= cohort.gmail_calendar %></br>
                  Total Students: <%= cohort.users.count %></br>
                  <%= link_to "Edit", edit_cohort_path(cohort) %>
                </h4>
              </div>
              <div class="col-md-4">
                <a role="button" class="btn btn-primary pull-right" href="/next_assignment?cohort_id=<%= cohort.id %>">Next Assignment to Grade</a>
                <a role="button" class="btn btn-primary pull-left" href="/grades?cohort_id=<%= cohort.id %>">Grades Table</a>
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Last Submission</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  <th>Student Added</th>
                </tr>
              </thead>
              <tbody>
                <% cohort.users.each do |student| %>
                <tr class="<%= viewed_by_admin_label_per_student(student) %>">
                  <td><%= student.full_name %></td>
                  <td><%= student.email %></td>
                  <td><%= link_to(student.submissions? ? last_submission_or_comment(student) : "Nothing Submitted", link_to_assignment(student)) %></td>
                  <td><%= link_to "Edit", "students/#{student.id}/edit" %></td>
                  <td>
                    <%= link_to "Delete", student_path(student), method: "delete", data: {confirm: "Are you sure? #{student.full_name}'s account and all their prework submitted will be deleted."} %>
         <!--            <a data-confirm="Are you sure?" data-method="delete" href="/students/<%= student.id %>" rel="nofollow">Delete</a> -->

                  </td>
                  <td><%= student.created_at.strftime("%b %d, %Y, %l:%M %p") %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to "Add Students", "/students/new?cohort_id=#{cohort.id}", class:"btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>