<div class="row">
  <div class="col-md-3"><h2 class="curriculum-heading">Prework</h2></div>
</div>
<div class="row message">
  <div class="col-md-7">
    <p><span class="prework-important">Prework is mandatory. You will not be allowed to start the program if you do not complete the Prework.</span> Give yourself plenty of time to complete the prework. If you're stuck and you just can't figure something out, reach out to your instructor: <%= mail_to @class_group.instructor.email %>.</p>
    <p>View and Submit assignments below.</p>
  </div>
  <div class="col-md-5">
    <div class="white">
      <table class="table">
        <tr>
          <td>Week 1 Prework Assignment</td>
          <td><%= @class_group.week_one_due_date.strftime("%m/%d/%Y") %></td>
        </tr>
        <tr>
          <td>Week 2 Prework Assignment</td>
          <td><%= @class_group.week_two_due_date.strftime("%m/%d/%Y") %></td>
        </tr>
        <tr>
          <td>Week 3 Prework Assignment</td>
          <td><%= @class_group.week_three_due_date.strftime("%m/%d/%Y") %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-12">

    <div class="white">
      <h2>Prework Assignments</h2>
      <table class="table">
        <tr>
          <th>Week</th>
          <th>Question</th>
          <th>Status</th>
        </tr>
        <% @assignments.each do |assignment| %>
        <tr>
          <td><%= assignment.week %></td>
          <td><%= link_to assignment.question, assignment_path(assignment) %></td>
          <td><%= assignment.submissions.where("submissions.user_id": current_user.id).first ? "Submitted" : "Not Submitted" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>

