<div class="row">
  <div class="col-md-3"><h2 class="curriculum-heading">Prework</h2></div>
</div>
<div class="row message">
  <div class="col-md-7">
    <p><span class="prework-important">Prework is mandatory. You will not be allowed to start the program if you do not complete the Prework.
    <p>View assignments below.</p>
  </div>

</div>
<div class="row">
  <div class="col-md-12">

    <div class="white">
      <tabset justified="true">
        <tab heading="Phase 1" active="<%= @tab_index %> === 1">
          <div class="tab-heading">
          </div>
          <%= render 'table', week: 1 %>
        </tab>
        <tab heading="Phase 2" active="<%= @tab_index %> === 2">
          <div class="tab-heading">
          </div>
        <%= render 'table', week: 2 %>
        </tab>
        <tab heading="Phase 3" active="<%= @tab_index %> === 3">
          <div class="tab-heading">
        <%= render 'table', week: 3 %>
        </tab>
      </tabset>
    </div>
  </div>

</div>


