<div class="row">
  <div class="col-md-3"><h2 class="curriculum-heading">Prework</h2></div>
</div>
<div class="row message">
  <div class="col-md-7">
    <p><span class="prework-important">Prework is mandatory. You will not be allowed to start the program if you do not complete the Prework.</span> Give yourself plenty of time to complete the prework. If you're stuck and you just can't figure something out, reach out to your instructor <b><%= @cohort.instructor.full_name  %></b> (<%= mail_to @cohort.instructor.email %>).</p>
    <p>The idea behind this prework is that you have a chance to dabble in Ruby so that it’s somewhat familiar to you by the time the official sessions begin. This is not meant to be highly intensive or intimidating, but you should expect to dedicate up to 20 hours per week to the prework. (Let us know if you're exceeding that.)</p>
    <p> <span class="prework-important">The prework assignments may change.</span> We are still finalizing some of the exercises, but feel free to begin them; you simply may have to do additional exercises (all the better for you!).
      <p><span class="prework-important">Please do not submit your solutions here yet. Keep solutions to exercises on your local machine for now.</span> We are also updating the Student Portal website and your submitted solutions may be lost while we go through these improvements.</p>
      <p>View assignments below.</p>
    </div>
    <div class="col-md-5">
      <div class="white">
        <table class="table">
          <tr>
            <td>Week 1 Prework Assignment</td>
            <td><span class="warning">Due: <%= (@cohort.start_date + 6).strftime("%A, %d %b %Y") %></span></td>
          </tr>
          <tr>
            <td>Week 2 Prework Assignment</td>
            <td><span class="warning">Due: <%= (@cohort.start_date + 13).strftime("%A, %d %b %Y") %></span></td>
          </tr>
          <tr>
            <td>Week 3 Prework Assignment</td>
            <td><span class="warning">Due: <%= (@cohort.start_date + 19).strftime("%A, %d %b %Y") %></span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="white">
        <tabset justified="true">
          <tab heading="Prework Week 1">
            <div class="tab-heading">
              <p>For week 1, the work is drawn from our screencasts (http://anyonecanlearntocode.com/screencasts) as well as the Learn To Program eBook by Chris Pine. You’ll note that there will be plenty of overlap between the two sources, and that’s intended. Having the same material taught in two different ways will help you see the same concept from multiple angles, and will provide for a deeper understanding of the lessons.</p>
              <p>Please <%= link_to "click here", Assignment.download_ebook_pdf %> to download the ebook "Learn To Program." Please note: we pay for each student to have one copy; do not distribute to anyone else.</p>
            </div>
            <table class="table">
              <tr>
                <th>Question</th>
                <th>Last Submission</th>
              </tr>
              <% @assignments.where(week:1).each do |assignment| %>
              <tr class="<%= User.find(@student.id).submissions.where(assignment_id: assignment.id).last.viewed_by_admin ? 'success' : 'danger' if User.find(@student.id).submissions.where(assignment_id: assignment.id).any? && current_user.instructor_or_administrator %>">
                <td><%= link_to assignment.title, "/assignments/#{assignment.id}?student_id=#{@student.id}" %></td>
                <td><%= link_to (User.find(@student.id).submissions.where(assignment_id: assignment.id).any? ? User.find(@student.id).submissions.where(assignment_id: assignment.id).last.updated_at.strftime("%d %b %Y %l:%M %p") : "Nothing Submitted"), "/assignments/#{assignment.id}?student_id=#{@student.id}" %></td>
              </tr>
              <% end %>
            </table>
          </tab>
          <tab heading="Prework Week 2">
            <div class="tab-heading">
              <p>There are no videos to watch or books to read, as the exercises are predicated on what you've learned during Week #1. Some of these exercises are challenging, however, and will take time and effort. </p>
              <p>The exercises are not necessarily listed in order of difficulty, so if you are absolutely stumped on one, move on to the next one in the meantime and go back to it later.</p>
            </div>
            <table class="table">
              <tr>
                <th>Question</th>
                <th>Last Submission</th>
              </tr>
              <% @assignments.where(week:2).each do |assignment| %>
              <tr class="<%= User.find(@student.id).submissions.where(assignment_id: assignment.id).last.viewed_by_admin ? 'success' : 'danger' if User.find(@student.id).submissions.where(assignment_id: assignment.id).any? && current_user.instructor_or_administrator %>">
                <td><%= link_to assignment.title, "/assignments/#{assignment.id}?student_id=#{@student.id}" %></td>
                <td><%= link_to (User.find(@student.id).submissions.where(assignment_id: assignment.id).any? ? User.find(@student.id).submissions.where(assignment_id: assignment.id).last.updated_at.strftime("%d %b %Y %l:%M %p") : "Nothing Submitted"), "/assignments/#{assignment.id}?student_id=#{@student.id}" %></td>
              </tr>
              <% end %>
            </table>
          </tab>
          <tab heading="Prework Week 3">
            <div class="tab-heading">
              <p>This week is actually divided into two parts: Ruby and HTML.</p>
              <p>The Ruby prework is based on the remaining screencasts on the ACLTC website.</p>
              <p>The HTML prework is also based on Screencasts.</p>
            </div>
            <table class="table">
              <tr>
                <th>Question</th>
                <th>Last Submission</th>
              </tr>
              <% @assignments.where(week:3).each do |assignment| %>
              <tr class="<%= User.find(@student.id).submissions.where(assignment_id: assignment.id).last.viewed_by_admin ? 'success' : 'danger' if User.find(@student.id).submissions.where(assignment_id: assignment.id).any? && current_user.instructor_or_administrator %>">
                <td><%= link_to assignment.title, "/assignments/#{assignment.id}?student_id=#{@student.id}" %></td>
                <td><%= link_to (User.find(@student.id).submissions.where(assignment_id: assignment.id).any? ? User.find(@student.id).submissions.where(assignment_id: assignment.id).last.updated_at.strftime("%d %b %Y %l:%M %p") : "Nothing Submitted"), "/assignments/#{assignment.id}?student_id=#{@student.id}" %></td>
              </tr>
              <% end %>
            </table>
          </tab>
        </tabset>
      </div>
    </div>

  </div>

