<div ng-controller="submissionsCtrl" ng-init="setup(<%= params[:id] %>, <%= @student.id %>, <%= current_user.id %>)">
  <div class="row row-margin">
    <div class="col-md-2">
      <div class="white">
        <%= link_to "Index", "/assignments/?student_id=#{@student.id}&tab_index=#{@assignment.week}" %><br/>
        <% if current_user.instructor_or_administrator  %>
          <%= link_to "Edit Exercise", "/assignments/#{@assignment.id}/edit" %><br/>
          <%= link_to "Cohort Dashboard", cohorts_path %><br/>
          <div ng-if="submission_viewed != null || comment_viewed != null">
            <input type="checkbox" value="true" ng-checked="combined_viewed" ng-click="changeViewedByAdmin()">
            <span class="un-viewed" ng-if="!combined_viewed">Mark Student's Solution and/or Comment Viewed by Instructor/Admin?</span>
            <span class="viewed" ng-if="combined_viewed">Viewed By Instructor/Admin</span>
          </div>
        <br />
        <% end %>
        <br/>
        Prework Phase <%= @assignment.week %><br/>
        <% @all_assignments_of_week.each do |assignment| %>
          <span class="<%= get_css_classes_assignment_show(@assignment, current_user, @student, assignment) %>">
            <%= link_to "#{assignment.title[0..17]}...", "/assignments/#{assignment.id}?student_id=#{@student.id}" %></span><br/>
        <% end %>
        <br/>
      </div>
    </div>
    <div class="col-md-10">
      <div class="white">
        <h2>Exercise: <%= @assignment.title %></h2>
          <% if @assignment.youtube_id.present? %>
            <p>Please watch the video to complete the exercise below.</p>
            <div class="embed-container">
              <iframe src="//www.youtube.com/embed/<%= @assignment.youtube_id %>"></iframe> 
            </div>
          <% end %>
        <div>
          <%= @assignment.question.html_safe %>
        </div>
      </div>

      <div class="white">
        <h2><%= @student.full_name %>'s Solution</h2>
        <tabset class="tab-box" justified="true">
          <tab heading="Most Recent Submitted Solution">
            <div ng-if="texts[texts.length - 1].answer">
              <pre ng-prism class="line-numbers language-ruby"><code>{{ texts[texts.length - 1].answer }}</code></pre>
            </div>
            <% if current_user.id == @student.id %>
              <textarea ng-model="submittedText.text" class="form-control submission-box" placeholder="*** Write Code Here ***"></textarea>
              <button ng-click="submitText(submittedText.text)" class="btn btn-primary"> Submit Code</button>
            <% end %>
          </tab>
          <tab heading="All Submitted Solutions">
            <div class="history-box">
              <div ng-show="submissions.length === 0">
                *** There have been no submissions yet ***
              </div>
              <div ng-repeat="submission in submissions">
                <div ng-if="submission.answer">
                  <pre ng-prism class="line-numbers language-ruby"><code>{{ submission.answer }}</code></pre>
                </div>
                <div ng-if="submission.name">
                  {{ submission.name }} uploaded
                </div>
                <div class="submitted-date">
                  Submitted {{ submission.created_at}}
                </div>
              </div>
            </div>
          </tab>
        </tabset>
        <% if @assignment.attachment %>
          <div>
            <div ng-show="files.length" class="uploaded-files">
              <table class="table">
              <tr>
                <th>Download</th>
                <th>Uploaded At</th>
                <th>Delete</th>
              </tr>
              <tr ng-repeat="file in files track by $index">
                <td><a href="#" onClick="return false;" ng-click="downloadFile(file)">{{ file.name }}</a></td>
                <td>{{ file.created_at }}</td>
                <td><a href="#" onClick="return false;" ng-click="deleteFile(file)">Delete</a></td>
              </tr>
              </table>
            </div>
            <div class="btn btn-primary" ngf-select="uploadFiles($files)" multiple="multiple">Upload Files</div>
          </div>
        <% end %>
      </div>
      <div class="white">
        <h2>Comments</h2>
          <div ng-if="comments.length === 0">
            <div class="row" style="margin: 30px;">
              <div class="col-md-4 col-md-offset-4">
                Notes on your submission will appear here.
              </div>
            </div>
          </div>
          <div ng-repeat="comment in comments">
            <div class="row comments">
              <div class="col-md-3 author-info" ng-class="comment.user.role_id !== 3 ? 'instructor-class' : 'not-instructor-class'">
                <div> <span ng-if="comment.user.role_id !== 3">Instructor: </span> {{ comment.user.first_name + " " +comment.user.last_name }}</div>
                <div>{{ comment.created_at }} </div>
              </div>
              <div class="col-md-9">
                <div class="comment-box" bind-html-compile="comment.text"></div>
              </div>
            </div>
          </div>
          <% if current_user.instructor_or_administrator %>
            <textarea ng-model="commentText" class="form-control comment-write" placeholder="To insert code within your comment, use 3 backticks(`) before and after your code."></textarea>
          <% end %>
        <div class="row">
          <div class="col-md-4 left-block">
            <% if current_user.instructor_or_administrator %>
              <button ng-click="submitCommentText(commentText)" class="btn btn-primary"> Leave Comment</button>
            <% end %>
          </div>
          <% if current_user.instructor_or_administrator %>
            <form class="col-md-4 center-block" id="show-grade-container" name="grade_form">
              <p id="show-grade" ng-if="current_grade" class="center-text">{{ current_grade }}</p>
              <!-- grade dropdown -->
              <select name="gradeSelect" id="gradeSelect" ng-model="data.gradeSelect">
                <option value="">Grade</option> <!-- not selected / blank option -->
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="F">F</option>
                <option value="A+">A+</option>
                <option value="N/A">N/A</option>
                <option value="R/v">Review</option>
              </select>
              <!-- end of dropdown -->
              <button ng-click="submitGrade(data.gradeSelect)" class="btn btn-primary">Store Grade</button>
            </form>

            <div class="col-md-4 row">
              <div class="col-md-offset-4 col-md-4">
                <a role="button" class="btn btn-primary pull-right" href="/grades?cohort_id=<%= @student.cohort.id %>">Grades Table</a>
              </div>
              <div class="col-md-4">
                <a role="button" class="btn btn-primary pull-right" href="/next_assignment">Next</a>
              </div>
            </div>
          <% end %>
        </div>
        <% if current_user.instructor_or_administrator %>
          <div class="instructor-previous-messages">
            <h3>Previous Comments made by {{ selectedAdminAfterLoad.full_name }} to students</h3>
            <div>
              Choose Instructor:
              <select ng-model="selectedAdmin" ng-options="admin as admin.full_name for admin in admins" ng-change="selectedAdminChanged(selectedAdmin)"> 
            </div>
            </select>
            <p class="helper-text-heading">Click on previous comment to add text to comment box</p>
              <div class="instructor-comment-filter form-group">
                <input class="form-control" ng-model="commentFilter.$" placeholder="filter by comment text or student name...">
            </div>
            <div ng-repeat="comment in allStudentInstructorComments | filter: commentFilter">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4 student-commented">
                      {{ selectedAdminAfterLoad.full_name }} to {{comment.student}}:
                    </div>
                    <div class="col-md-4 text-center assignment-commented">
                      {{comment.assignment}}
                    </div>
                    <div class="col-md-4 text-right">
                      {{comment.created_at}}
                    </div>
                  </div>
                  <div class="comment-box instructor-hover" ng-click="addPreviousInstructorComment(comment)" bind-html-compile="comment.text"></div>
                </div>
              </div>
            </div>     
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
