<div class="row row-margin">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h2>Edit User</h2>
    <p class="warning-text"><%= @student.errors.full_messages.join("<br/>").html_safe if @student.errors %></p>
    <%= form_tag "/users/registrations/#{@student.id}/update_student", method: :patch do %>
      <div class="form-group">
        <%= label_tag :first_name %>
        <%= text_field_tag :first_name, @student.first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :last_name %>
        <%= text_field_tag :last_name, @student.last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, @student.email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :cohort, "Move student to different cohort" %><br>
        <%= collection_select :cohort, :id, Cohort.all, :id, :all_attributes, prompt: @student.cohort.id, selected: @student.cohort.id %>
      </div>
      <div class="form-group">
        <%= submit_tag "Update Student", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>