
<div class="row">
  <div class="col-md-3"><h2 class="curriculum-heading">Curriculum</h2></div>
</div>


<div class="row">
  <div class="col-md-8">
    <p class="course-subtext">This course will be focusing on the following material:</p>
    <div class="col-md-6">
      <p class="subject-description"><div class="subject-title">Ruby</div> - is a dynamic, object-oriented, general-purpose programming language.</p>
      <p class="subject-description"><div class="subject-title">Rails</div> - is an open source web application framework written in Ruby.</p>
      <p class="subject-description"><div class="subject-title">HTML</div> - is the standard markup language used to create Web pages.</p>
      <p class="subject-description"><div class="subject-title">CSS</div> - is a stylesheet language used for describing the look and formatting of a document written in a markup language such as HTML.</p>
    </div>
    <div class="col-md-6">
      <p class="subject-description"><div class="subject-title">SQL</div> - is a query language used for accessing and modifying information in a database.</p>
      <p class="subject-description"><div class="subject-title">Git</div> - is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
      <p class="subject-description"><div class="subject-title">JavaScript</div> - is an object-oriented computer programming language commonly used to create interactive effects within web browsers.</p>
      <p class="subject-description"><div class="subject-title">AngularJS</div> - is an open-source JavaScript web application framework maintained by Google and others.</p>
    </div>
  </div>
  <div class="col-md-4">
    <h3>CAPSTONE:</h3>
    <p class="capstone_blog">Each student will be responsible for building a capstone project that utilizes everything you learn during the course. Your capstone project will be debuted at our Student Showcase where we invite employers, members of the press, local CTOs/CEOs, recruiters, and prospective students. This is your chance to shine!</p>

    <h3>BLOG:</h3>
    <p class="capstone_blog">Each student will be responsible for building a capstone project that utilizes everything you learn during the course. Your capstone project will be debuted at our Student Showcase where we invite employers, members of the press, local CTOs/CEOs, recruiters, and prospective students. This is your chance to shine!</p>


  </div>
</div>

<div class="row">
  <div class="col-md-3"><h2 class="curriculum-heading">Schedule</h2></div>
</div>
<% if current_user.instructor_or_administrator %>
  <div class="admin-select">
    <%= form_tag curriculum_select_cohort_path, method: :get do %>
      <%= collection_select(:post, :cohort_id, @cohorts, :id, :all_attributes, {selected: @cohort.id}) %>
      <%= submit_tag "Select Cohort" %>
    <% end %>
  </div>
<% end %>
<div class="cohort-details-calendar">
  <div class="row">
    <div class="col-md-4 text-left">Start Date: <%= @cohort.start_date.strftime("%b %d, %Y") %></div>
    <div class="col-md-4 text-center">Instructor: <%= @cohort.instructor.full_name %></div>
    <div class="col-md-4 text-right">Location: <%= @cohort.location.name %></div>
  </div>
</div>

<div ng-controller="calendarCtrl" ng-init="setup('<%= @cohort.gmail_calendar %>')">
  {{ alertMessage }}
  <div ui-calendar="uiConfig.calendar" class="div8 calendar" ng-model="eventSources"></div> 
</div>



