<div class="row row-margin">
  <div class="col-md-2">
      <div class="white">
        <%= link_to "All Assignment Versions", assignment_versions_path %><br>
        <a href="/assignment_versions/<%= @assignment_version.id %>/show_detailed">Detailed view</a>
      </div>
    </div>
  <div class="col-md-10">
    <div class="white">
      <div class="row">
        <div class="col-md-12">
          <h2><%= @assignment_version.description %></h2>
            <%= form_tag assignment_version_path(@assignment_version), method: :patch do %>
              <table class="table">
                <tr>
                  <th>Title</th>
                  <th>Week</th>
                  <th>Assignment Order</th>
                  <th>Delete Assignment</th>
                </tr>
                  <%= fields_for 'assignments[]', [] do |f| %>
                    <% @assignment_version.assignments.order(:assignment_order).each do |assignment| %>
                        <tr>
                          <%= f.hidden_field :id, value: assignment.id %>
                          <td><%= link_to assignment.title, assignment_show_demo_path(assignment) %></td>
                          <td><%= f.text_field :week, value: assignment.week  %></td>
                          <td><%= f.text_field :order, value: assignment.assignment_order %></td>
                          <td><%= link_to "Delete", assignment_path(assignment), method: "delete", data: {confirm: "Are you sure? Any cohort that uses this version will lost this exercise. Every student that's submitted a solution to this exercise will be lost."} %></td>
                        </tr>
                    <% end %>
                  <% end %>
                </table>
              <%= hidden_field_tag :assignment_version_id, @assignment_version.id %>
              <%= submit_tag "Update Week and Order", class: "btn btn-danger pull-right assignment-order-btn btn-lg" %>
            <% end %>
            <%= button_to "Add Exercise", new_assignment_path, class: "btn btn-primary", method: :get, params: {assignment_version_id: @assignment_version.id} %>
        </div>
      </div>
    </div>
</div>
