<div class="row row-margin">
  <div class="col-md-2">
      <div class="white">
        <%= link_to "All Assignment Versions", assignment_versions_path %><br>
        <a href="/assignment_versions/<%= @assignment_version.id %>">Regular view</a>
      </div>
    </div>
  <div class="col-md-10">
    <div class="white">
      <div class="row">
        <div class="col-md-12">
          <h2><%= @assignment_version.description %></h2>
          <ul class="nav nav-tabs">
            <% @assignment_version.assignments.select(:week).distinct.count.times do |index| %>
              <li class="<%= index == 0 ? 'active' : '' %>">
                <a data-toggle="tab" href="#week-<%= index + 1 %>">Week <%= index + 1 %></a>
              </li>
            <% end %>
          </ul>
          <div class="tab-content">
            <% @assignment_version.assignments.select(:week).distinct.count.times do |index| %>
            <div id="week-<%= index + 1 %>" class="tab-pane fade in <%= index == 0 ? 'active' : '' %>">
              <% @assignment_version.assignments.where(week: index + 1).order(:assignment_order).each do |assignment| %>
                <div class="well">
                  <div class="row">
                    <div class="col-md-3">
                      <% if assignment.youtube_id.present? %>
                        <iframe src="//www.youtube.com/embed/<%= assignment.youtube_id %>" style="width: 100%"></iframe>
                      <% end %>
                    </div>
                    <div class="col-md-9">
                      <a href="/assignments/<%= assignment.id %>/edit" target="_blank"><%= assignment.title %></a>
                      <div>
                        <%= assignment.question.html_safe %>
                      </div>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
