<!DOCTYPE html>
<html>
<head>
  <title>Student Portal</title>
  <%= favicon_link_tag 'favicon.png' %>
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main container">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
      <%= message.html_safe %>  
    </div>
  <% end %>
</div>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="/">Actualize Student Portal</a> -->
      <a class="navbar-brand" href="/">
        <img class="logo" src="<%= asset_path 'actualize-logo-275.png' %>">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Prework", assignments_path if current_user.student %></li>
          <% if current_user.instructor_or_administrator %>
            <li><%= link_to "User Management", users_registrations_path %></li>
            <li><%= link_to "Cohort Dashboard", cohorts_path %></li>
          <% end %>
          <li><%= link_to "Curriculum Calendar", curriculum_path  %></li>
          <li><%= link_to "Edit Profile", edit_users_registration_path(current_user) %></li>
          <li><%= link_to "Sign Out (#{current_user.full_name})", destroy_user_session_path, method: :delete %></li>
        <% else %>  
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div ng-app="app">
    <%= yield %>
  </div>
</div>

</body>
</html>
